body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "1";
  src: url("./font/Gaegu-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "2";
  src: url("./font/Gaegu-Light.ttf") format('truetype');
}
@font-face {
  font-family: "3";
  src: url("./font/Gaegu-Bold.ttf") format('truetype');
}