.header{
    display:"inline";
    margin:0 auto;
    width: 90%;
    height: 40px;
    text-align: center;
}

.pbar{
    color: rgb(0, 200, 255);;
    font-family: "2";
    width: 300px;
    height: 40px;
    border:3px solid rgb(180, 239, 255);
    border-radius:30px;
    font-size:30px;
    margin-left:30px;
}