.entire{
    overflow:scroll;
    padding-top: 150px;
    padding-bottom: 100%;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
}

.list{
    width: 70%;
    border-radius: 10px;
    margin: 0 auto;
}

